.modal-content{
    background-color: rgba(69, 81, 95, 0.752);
}

.modalInicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalInicio img{
    margin: 0;

}